/* ----- Footer principal ----- */
.Ws-footer {
  position: relative;
  bottom: 0;
  display: flex;
  background-color: rgba(13, 13, 13, 0.9);
  color: #f5f5f5;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #a1a1aa;
  width: 100%;
  margin-top: auto;
}

/* ----- Liste du footer ----- */
.Ws-UlFooter {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.Ws-LiFooter {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
  color: #f5f5f5;
}

.Ws-LiFooter:hover {
  color: #3b82f6;
}


@media (max-width: 768px) {
  .Ws-UlFooter {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}